<!DOCTYPE html>
<html lang='en'>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Authentication </title>
    
    <!-- Optional: Add meta tags for SEO -->
    <meta name="description" content="A brief description of your page">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'polls\authpage1.css' %}">

</head>
<body>
    <a href="http://127.0.0.1:8000/" target="_blank"> <img id="for_home" class="rounded-circle" src="{% static "media\house_to_main.jpg"%}" 
        alt="Going to main page"> </a>
    <div id="Sign1">
        <h1>Sign in</h1>
        <form action="game.html" method="post" class="d-flex flex-column">
            <label for="fname">First Name</label>
            <input type="text" id="fname" class="col-sm-3">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" class="col-sm-3">
            <label for="email"> Email</label>
            <input type="email" id="email" class="col-sm-3">
            <label for="uname">Username</label>
            <input type="text" id="uname" class="col-sm-3">
            <label for="psw">Password</label>
            <input type="password" id="psw" class="col-sm-3">
            <label for="rpsw">Repeat password</label>
            <input type="password" id="rpsw" class="col-sm-3">
            <br>
            <br>
            <button type="submit" class="col-sm-1">Submit</button>
        </form>
    <!--when user hit submit we should POST the data on related table(model) and at the same time send
        the user to the signin page
    So under action we can put the corresponding endpoint from auth or game app; the
    one that will receive the data as POST and will added it to the user database model and customer model
    -->
    
    </div>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>