<!-- DOCTYPE html -->  
<html lang='en'>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome to Angry Bird </title>
    
    <!-- Optional: Add meta tags for SEO -->
    <meta name="description" content="A brief description of your page">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'polls\maintest2.css' %}?v=1">
</head>
<body class="text-white"> 
    <header style= "background-image: url('{% static "media\angrybirds1.jpg" %}'); background-size: cover; background-repeat: no-repeat;"> 
        <h1 id="first_header">ANGRY BIRD</h1>
        <div id="second_header"> 
            <a href="auth_game/" target = _blank><button type="button" class="btn btn-info">Sign Up </button> </a>
            <a href="sign_in_game/" target = _blank><button type="button" class="btn btn-info">Log in </button> </a>
        </div>
        <div id="third_header"> 
            <a href='user_profile/' target = _blank> 
                <img src="{% static 'media\empty_profile.jpg' %}" 
                class="col-sm-2 rounded-circle" alt="User profile image"> 
                
            </a>
            <!--Here I will put as a round thumbnail the user image if he added and
            if it is authenticated (if authenticated and if image get the image field on model if 
            not just get a generic image). Also if they click there they will be send 
            to his profile -->
        </div>
    </header>

    <main  style= "background-image: url('{% static "media\main_page3.jpg" %}')">
        <div id= 'level_image1'> 
            <h3>Easy</h3>   
            <a href="http://127.0.0.1:8000/user_game/" target = _blank><img 
            src="{% static 'media\angrybird5.jpg' %}" class="col-sm-4 rounded-circle" alt="Happy bird"></a> 
        </div>
        <div id= 'level_image2'>
            <h3>Medium</h3>  
            <a href="http://127.0.0.1:8000/user_game/" target = _blank><img 
            src="{% static 'media\angrybird2.png' %}" class="col-sm-4 rounded-circle" alt="Angry bird"></a>
        </div>

        <div id= 'level_image3'>
            <h3>Difficult</h3>   
            <a href="http://127.0.0.1:8000/user_game/" target = _blank><img src="{% static 'media\angrybirds6.jpg' %}" 
            class="col-sm-4 rounded-circle" alt="You don't want mess with this bird"></a>
    
 

            <!--when user hit the level we should POST the data on related table(model)
            and at the same time render the authentication page. When user sign in and we populated 
            the related table; then there is that third table that associate this user with 
            the difficulty that user picked-->
        </div>
        
    </main>
    
    <footer style= "background-image: url('{% static "media\main_page3.jpg" %}')"> 
        
        <h3 id='title_footer'>Contacts</h3>
        <p id='contact_footer1'> <a href="https://github.com/DanySA22" target="_blank"> My Github Account</a></p>
        <p id='contact_footer2'> <a href="https://www.linkedin.com/in/daniel-savignon-araujo-606194237/" target="_blank">My Linkedin</a></p>
        <p id='contact_footer3'> <a href="http://danielsavignon24@gmail.com " target="_blank">danielsavignon24@gmail.com </a> </p>
                
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>


