<!DOCTYPE html>
<html lang='en'>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile </title>
    
    <!-- Optional: Add meta tags for SEO -->
    <meta name="description" content="A brief description of your page">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/profile1.css' %}">
</head>
<!-- The access to this page is restrcited
for user already authenticated-->
<body>
    <a href="http://127.0.0.1:8000/" target="_blank"> <img id="for_home" class="rounded-circle" src="{% static "media\house_to_main.jpg"%}" 
        alt="Going to main page"> </a>
    <div id="profile1">
        <h3>PROFILE INFORMATION</h3>
        <form style="width:600px;" action="game.html" method="post, get">
            <label for="fname">First Name</label>
            <input type="text" id="fname">
            <br>
            <br>
            <label for="lname">Last Name</label>
            <input type="text" id="lname">
            <br>
            <br>
            <label for="email"> Email</label>
            <input type="email" id="email">
            <br><br>
            <label for="uname">Username</label>
            <input type="text" id="uname">
            <br><br>
            <label for="psw">Password</label>
            <input type="password" id="psw">
            <br><br>
            <button type="button" class="btn btn-info">Submit</button>
        </form>
    </div>
    <div>
        
        <img id="profile2" class="rounded-circle" src="{% static 'media\empty_profile.jpg' %}" 
        class="col-sm-2 rounded-circle" alt="User profile image"> 
            
        
        <!--Here I will put as a round thumbnail the user image if 
        he added (in that case will be a get the image field on Coustomer model)
        If he doesnt add an image get a default image (that will be
        empty_profile.jpg)
        If he want to add or change an image set here POST or put
        targeting on the model the field image of that single user; 
        the capability upload image needs to be on
        -->
    </div>

    <div id="profile3">
        <h3>How we did it?</h3>
        <form action="submit.py" method="post">
            <label for="one">1</label>
            <input type="checkbox" id="one">
            <label for="two">2</label>
            <input type="checkbox" id="two">
            <label for="three">3</label>
            <input type="checkbox" id="three">
            <label for="four">4</label>
            <input type="checkbox" id="four">
            <label for="five">5</label>
            <input type="checkbox" id="5">
            <br><br>
            <button type="button" class="btn btn-dark">Submit</button>
        
        </form>

    </div>

    <!-- Here don't forget create a validation 
        that allow you to select and send to the user model customer field rating only one
        puntuation at the time
    -->
    <div id="profile4">
        <h3>Score</h3>
        <p> {{variable}} points</p>

    <!-- This will receive back a get request with the user score-->
    </div>

    
    <div id="profile5">
        <h3>What level you prefer?</h3>
        <div class="d-flex flex-row">
            <div class="card col-sm-4">
                <p class="card-title"> Easy </p>
                <a href="game.html" target="_blank"><img src="Images\angrybird5.jpg" class="card-img-top"></a>
                <p class="card-body"> Good level for practice and have a 
                    good time</p>
            </div>
            <div class="card col-sm-4">
                <p class="card-title"> Medium </p>
                <a href="game.html" target="_blank"><img src="Images\angrybird2.png" class="card-img-top"></a>
                <p class="card-body"> Great challenge for adrenaline pump</p>
            </div>
            <div class="card col-sm-4">
                <p class="card-title"> Dificult </p>
                <a href="game.html" target="_blank"><img src="Images\angrybirds6.jpg" class="card-img-top"></a>
                <p class="card-body"> Particularry good for causing heart attacks</p>
            </div>
        </div>   
<!--when user click any of this link will be sent gto game1, game2, game3
they are different html with different speed representing the different levels
Also the dificulty level on record for that user will change
so next time that he log in he will go directly to that level-->
    </div>
    <footer>
        <div> Not forget to add here the cool sentence </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>