i {
    width: 70px;
    height: 70px;
    position: relative;
    left: 70px;
    top:25px;
}

#Sign1 {
    /* border: 5px red solid; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#form_button {
    transition: transform 0.3s ease-in-out;

}
#form_button:hover {
    transform: scale(2.0) rotateY(20deg);
}

@media screen and (max-width: 800px) {
    body, div, form {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

}
 a, div {
    
    flex: 100%;

 }

 i, a {
    position: relative;
    right: 50%;
 }

}