body {
    background: rgb(9,121,117);
    background: radial-gradient(circle, rgba(9,121,117,0.5714020501999628) 35%, rgba(36,0,21,1) 72%, rgba(0,212,255,1) 100%);
}

#for_home {
    width: 70px;
    height: 70px;
    position: relative;
    left: 70px;
    top:25px;
}

#Sign1 {
    /* border: 5px red solid; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


