*{
    padding: 0;
    margin: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
   
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 1100px;
    width: 100vw;
}

#game{
    max-width: 100 vw;
    height: 1100px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#pipe{
    width: 50px;
    height: 1100px;
    position: relative;
    left: 950px;
    background-color: black;
    animation: pipe 2s infinite linear;
}

@keyframes pipe{
    0%{left: 90%}
    100%{left: -50px}
}

#hole{
    width: 50px;
    height: 400px;
    background-color: #00316dc7;
    position: relative;
    left: 950px;
    top: -1100px;
    animation: pipe 2s infinite linear;
    text-align: center;
    color: aliceblue;
    font-size:large;
    line-height: 50px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#angry_bird{
    width: 50px;
    height: 50px; 
    background-color: red;
    position: absolute;
    top: 400px;
    border-radius: 50%;

}

