*{
    padding: 0;
    margin: 0;
}

/* body {
    display: flex;
    flex-direction: column; 

}
/* header {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 5%;
    justify-content: space-around;
    align-items: center;
    height: 50px;  /* This height give me the idea in how much I need to reduce the proportion of the game div in order to 
     have the same functionality that currently has
    box-sizing: border-box;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    border: 5px red solid;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 1100px;
    width: 100vw;
}

#game{
    max-width: 100 vw;
    height: 1100px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#pipe{
    width: 50px;
    height: 1100px;
    position: relative;
    left: 950px;
    background-color: black;
    animation: pipe 3s infinite linear;
}

@keyframes pipe{
    0%{left: 90%}
    100%{left: -50px}
}

#hole{
    width: 50px;
    height: 400px;
    background-color: #00316dc7;
    position: relative;
    left: 950px;
    top: -1100px;
    animation: pipe 3s infinite linear;
    text-align: center;
    color: aliceblue;
    font-size:large;
    line-height: 50px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#angry_bird{
    width: 50px;
    height: 50px; 
    background-color: red;
    position: absolute;
    top: 400px;
    border-radius: 50%;

}

/* 
 You need to set well the hole and pipe backgrounds
Replicated the same html with the name game_easy, game_medium, game_difficult> each one with a copy of css and js
with similar name. The only thing that changes is the speed on css from 3s here in the easy; to 2.5 s on medium; and 2 s in difficult.
We don't need to incorporate any adaptation depending on screen because in the same level 
longer screen are faster but they have more time to prepare; smaller screen are slower but less
time to adapt
 */