*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

}
header {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 5%;
    justify-content: space-around;
    align-items: center;
    height: 50px;  /* This height give me the idea in how much I need to reduce the proportion of the game div in order to 
     have the same functionality that currently has*/
    box-sizing: border-box;
}

main {
    height: 1100px;
    width: 100vw;
}

#game{
    background-color: rgb(85, 0, 255);
    /*background-image: url("game_background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    max-width: 100 vw;
    height: 1100px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#pipe{
    width: 50px;
    height: 1100px;
    position: relative;
    left: 950px;
    background-color: black;
    animation: pipe 3s infinite linear;
}

@keyframes pipe{
    0%{left: 90%}
    100%{left: -50px}
}

#hole{
    width: 50px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 950px;
    top: -1100px;
    animation: pipe 3s infinite linear;
}

#angry_bird{
    width: 50px;
    height: 50px; 
    background-color: red;
    position: absolute;
    top: 400px;
    border-radius: 50%;

}

/* @keyframes movement {
    from {left: 0%; top: 320px;}
    to { left: 100%; top: 320px;}
} */

/* .first {
    float: right;
    position: relative;
    right: 40px;
}


#profile_image{
    float: right;
    position: relative;
    bottom: 600px;
    right: 200px;
    width: 75px;
    height: 75px;
}

#for_home {
    width: 70px;
    height: 70px;
    position: relative;
    left: 70px;
    top:25px;
} */