body {
    background-color:  rgb(165, 42, 42);
   /*background-image: url('media\main_page3.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column-reverse;
}
#first_header {
    text-align: center;
    letter-spacing: 20px;
    color: red;
    }

#level_image {
  display: inline-flex;
}
