body {
    padding: 5%;
    padding-bottom: 0%;
    box-sizing: border-box;
    font-family: Sans-serif;
}

header {
    
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        flex: 100%;
        flex-wrap: wrap;
        gap: 15px;

    }

     h1 {
        display: none;
       /*  height: auto;
        width: 50%;
        letter-spacing: normal;
        font-size: 5px;
        font-family: 'Courier New', Courier, monospace;
        border: 5px green solid;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        text-align: start; */
    }  

    main {
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        gap: 15px; 
        box-sizing: border-box;
       
    }

    #level_image1, #level_image2, #level_image3 {
        text-align: center;
        height: 300px;
      }
    
}

#first_header {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    letter-spacing: 20px;
    color: rgb(255, 240, 240); 
    font-family: Algerian;
    font-size: 80px;
}


#below_first_header {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30%;
    color: rgb(255, 240, 240); 
    
}


#second_header {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    

}

#second_header button {
   transition: transform 0.3s ease-in-out;
   font-weight: bold;
}

#second_header button:hover {
    transform: scale(2.0) rotateY(20deg);
}
#third_header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    
}


main {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
   
}

main div {
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

main div:hover {
    transform: scale(2.0) rotateY(20deg);
}
#level_image1, #level_image2, #level_image3 {
  text-align: center;
  height: 300px;
}



/* @media screen and (max-width: 800px) {
    main, #level_image1, #level_image2, #level_image3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        max-width: 100%;
    }
} */


footer {
    
    
    padding: 5%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    box-sizing: border-box;
}

#title_footer {
   grid-row: 1;
   grid-column: 1/4;
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 5px;
}

#contact_footer1 {
   grid-row: 2;
   grid-column: 1;
   text-align: center;
   color:antiquewhite;
   max-width: 100%;
   height: auto;
}
#contact_footer2 {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    max-width: 100%;
    height: auto;
 }
#contact_footer3 {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    max-width: 100%;
    height: auto;
    
 }

 #contact_footer1 button, #contact_footer2 button, #contact_footer3 button {
    transition: transform 0.3s ease-in-out;
    color: white;
    font-weight: bold;

 }

 #contact_footer1 button:hover, #contact_footer2 button:hover, #contact_footer3 button:hover {
    transform: scale(2.0) rotateY(20deg);
}