body {
    
}

header {
    height: 70%;
    /* border: 5px green solid; */
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40% 40%;
    box-sizing: border-box;
}

#first_header {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    letter-spacing: 20px;
    color: red;
    color: rgba(11, 0, 36, 0.331);
}

#second_header {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

#second_header button {
   transition: transform 0.3s ease-in-out;
}

#second_header button:hover {
    transform: scale(2.0) rotateY(20deg);
}
#third_header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}


main {
    height: 60%;
    /* border: 5px blue solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

main div {
    transition: transform 0.3s ease-in-out;
}

main div:hover {
    transform: scale(2.0) rotateY(20deg);
}
#level_image1, #level_image2, #level_image3 {
  text-align: center;
  flex: 1;
  
  
}


footer {
    /* height: 20%; */
    border: 5px green solid; 
    padding: 5%;
    display: grid;
    gap: 20px;
    /* justify-items: stretch; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    box-sizing: border-box;
    background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,19,121,0.643833270793559) 35%, rgba(0,212,255,1) 100%);
}

#title_footer {
   grid-row: 1;
   grid-column: 1/4;
   text-align: center;
   width: 100%;
}

#contact_footer1 {
   grid-row: 2;
   grid-column: 1;
   text-align: center;
   color:antiquewhite;
   max-width: 100%;
   height: auto;
}
#contact_footer2 {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    max-width: 100%;
    height: auto;
 }
#contact_footer3 {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    max-width: 100%;
    height: auto;
    
 }