body {
    /*background-color: burlywood;*/
    background-color: yellowgreen;
}
header {
    border: 5px red solid;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

header a {
    

}

header img {


}

#for_home {
    width: 70px;
    height: 70px;
        
} 

main {
    /* height: 60vh;*/
    border: 5px blue solid;
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-content:center;
}


#profile_information {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

#profile_rating {
    margin: auto;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
#profile_score {
    margin: auto;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}
#profile_sentence {
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

footer {
    border: 5px red solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10%;
    
}

footer h3 {
    grid-row: 1;
    grid-column: 1 / 4;
    margin:auto;
}

#profile_level_easy {
    grid-row: 2;
    grid-column: 1;
    
}

#profile_level_medium {
    grid-row: 2;
    grid-column: 2;
    

}

#profile_level_difficult {
    grid-row: 2;
    grid-column: 3;
    

}
