i {
    width: 70px;
    height: 70px;
    position: relative;
    left: 70px;
    top:25px; 
}

#Log0 {
    box-sizing: border-box; 
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#Log1 {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#form_button {
    transition: transform 0.3s ease-in-out;

}
#form_button:hover {
    transform: scale(2.0) rotateY(20deg);
}